.header__tip{
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  & p{
    color: $font_one_collor;
  }
  &::after{
    @include afrer_header_fon($bg_one_color);
  }
}


.header__nav-user{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  font-size: 14px;
  color: $font_two_collor;
  &::after{
    @include afrer_header_fon($bg_two_color);
  }
}

.header__nav-user-ul{
  display: flex;
  gap: 30px;
}

.header__nav-user-li{
  position: relative;
  text-transform: capitalize;
    &::after{
    @include afrer_nav-user($bg_five_color);
  }
}

.header__log-out-ul{
  text-transform: capitalize;
  display: flex;
  gap: 30px;
}

.header__log-out-li--one{
  position: relative;
  &::after{
    @include afrer_nav-user($bg_five_color);
  }
}



.header__nav-main{
  position: relative;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  color: $font_one_collor;
  &::after{
    @include afrer_header_fon($bg_three_color);
  }
}

.header__nav-main-logo{}
.header__nav-main-site{
  font-size: 14px;
  text-transform: uppercase;
  white-space:nowrap;
}
.header__nav-main-clock{
  position: relative;
  width: 40px;
  height: 40px;
}
.header__nav-main-text{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  line-height: 15px;
  white-space:nowrap;
}
.header__nav-main-cart{
  display: flex;
  align-items: center;
  gap: 25px;
}


.header__nav-main-cart-cart{
  position: relative;
  width: 27px;
  height: 27px;
}
.header__nav-main-cart-search{
  cursor: pointer;
}
.header__nav-main-number{
  white-space:nowrap;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.header__nav-main-callBack{
  display: flex;
  gap: 7px;
  background-color: $bg_one_color;
  padding: 4px;
}
.header__nav-main-cart-cart-link{
  display: flex;
  align-items: center;
  background: linear-gradient(180deg, rgba(77,77,77,1) 0%, rgba(21,21,21,1) 100%);
  height: 72px;
  width: 140px;
  justify-content: space-around;
}


.header__nav-goods{
  position: relative;
  height: 41.5px;
  &::after{
    @include afrer_header_fon($bg_four_color);
  }
}
.header__nav-goods-ul{
  display: flex;
  // justify-content: space-between;
}
.header__nav-goods-li{
  flex-grow: 1;
  position: relative;
  
  &:not(:first-child){
    border-left: 1px solid $font_two_collor;
  }
  &:hover .header__nav-goods-button_btn{
      background-color: $bg_one_color;
  & p {
    color: $font_one_collor;
  }
  & svg{
    fill: $font_one_collor;
    animation: arrowDown .25s forwards;
  }
  }
}

.pop-up{
  display: none;
  position: absolute;
  background-color: $bg_four_color;
  // bottom:  generated in scriptOne.js
  left: 0;
  & ul{
  }
  & li{
    display: flex;
    // align-items: center;
  }
  & a{
    display: block;
    height: 40px;
    text-align: center;
    // width: 250px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-transform: capitalize;
    color: $bg_two_color;
  }
  & a:hover {
    background-color: $bg_one_color;
    color: $bg_four_color;
  }
}


.header__nav-goods-button{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: $bg_two_color;
  text-transform: uppercase;
  height: 41.5px;
  background: transparent;
  padding: 0 10px 0 20px;
  & svg{
    fill: $bg_one_color;
  }
}

.header__nav-goods-button.header__nav-goods-button_btn:hover~.pop-up{
  display: flex;
}
.pop-up:hover{
  display: flex;
}




.header__nav-goods-button svg{

}

.header__nav-goods-count{
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: $bg_one_color;
}
.header__nav-goods-count p{
  position: absolute;
  top: 50%;
  left: 50%;
  color: $font_one_collor;
  font-weight: 700;
  transform: translateX(-50%) translateY(-50%);
}


.ibg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes arrowDown{
  0%{
    transform: translateY(-10px);
  }
  100%{transform: translateY(0);}
}