// backgroud colors
$bg_one_color: #AD0C10;
$bg_two_color: #383838;
$bg_three_color: black;
$bg_four_color: #E6E6E6;
$bg_five_color: #898989;



// font colors
$font_one_collor: #FFFFFF;
$font_two_collor: #ABABAB;
 